<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Soumyadeep Dey</title>
  <link rel="stylesheet" href="static/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento" rel="stylesheet">
  <link rel="icon" href="favicon.ico">
</head>

<body>
  <div class="top-container">
    <img class="top-cloud" src="static/cloud.png" alt="cloud">
    <div class="title-text">
      <h1>I'm Soumyadeep.</h1>
      <h2>a <span class="pro">pro</span>grammer  and an Avid Book Reader.</h2>
    </div>
    <img class="bottom-cloud" src="static/cloud.png" alt="cloud">
    <img class="mountain" src="static/mountain.png" alt="mountain-img">
  </div>

  <div class="middle-container">
    <div class="profile">
      <img src="static/Correct_pic_1.png" alt="Soumyadeep-profile-img" height="150px">
      <h2>Hello.</h2>
      <p class="intro">I am a Student at BIT Mesra,Ranchi as well as IIT Madras. I ❤️ reading books specifically Crime Thriller Novels.</p>
    </div>
    <hr>
    <div class="skills">
      <h2>My Skills.</h2>
      <div class="skill-row">
        <img class="code-img" src="https://media.giphy.com/media/LmNwrBhejkK9EFP504/giphy.gif" alt="code-img">

        <h3>Design & Development</h3>
        <p>I started learning to code when I was 6 years old because I wanted to make my own video games. Over time, I have gained a wealth of experience designing and developing mobile and web applications.</p>

      </div>
      <div class="skill-row">
        <img class="chilli-img" src="static/images.jpg" alt="chillies-img">

        <h3>Book reading Challenge</h3>
        <p>But my best skill is reading books.Do ping me in case you want to talk about Fiction, Non Fiction or Sci-Fi or anything Science❤️📖</p>

      </div>
    </div>
    <hr>
    <div class="contact-me">
      <h2>Get In Touch</h2>
      <h3>If you love Books as much as I do.</h3>
      <p class="contact-message">Love books as much as I do? Let's talk about how awesome they are! We can code while we discuss about books!</p>
      <a class="btn" href="mailto:ilove@hotwings.com">CONTACT ME</a>
    </div>
  </div>


  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/soumyadeep-dey-88b48831a/">LinkedIn</a>
    <a class="footer-link" href="https://x.com/soumyadeep49231">Twitter</a>
    <a class="footer-link" href="https://www.instagram.com/soumyadeepdey401/">Instagram</a>
    <!-- <p class="copyright">© 2019 Angela Yu @ The App Brewery.</p> -->
  </div>
</body>

</html>
